* {
    color: #ffeee6;
    display: flex;
    flex-wrap: wrap;
    
}

title {
    display: none;
}

@font-face {
    font-family: FT88;
    src: url(FT88-Bold.woff);
}

header {
    background-image: url('./bckgimgunsplash.jpg');
    background-size: 50%;
    background-attachment: fixed;
    margin: -10px;
    align-items: flex-start;
    width: 120%;
    height: 20%;
    color: white;
}

h1{
    visibility: hidden;
}

h2 {
    margin-right: 40px;
}

nav {
    font-family: FT88;
    font-size: 24px;
    
}

body {
    background-color: rgb(237, 212, 246);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    /* top:50%;
    left:50%;
    transform:translate(-50%, -50%); */
    width: 200px;
    height: auto;
    flex-shrink: 0;
}

li {
    justify-content: center;
    align-content: space-between;
    margin-right: 10px;
    margin-top: 15px;
}

article {
    font-size: large;
    border-radius: 5px;
    border: 2px solid rgba(232, 102, 236, 0.6);
    background-image: linear-gradient(
        rgb(237, 212, 246) 0%,
        rgba(232, 102, 236, 0.6) 70%,
        rgb(237, 212, 246) 100% 
    );
    margin: 10px;
    padding: 10px;
    flex-wrap: nowrap;
}

div {
    font-size: large;
    width: 400px;
    border-radius: 5px;
    border: 2px solid rgba(232, 102, 236, 0.6);
    background-image: linear-gradient(
        rgb(237, 212, 246) 0%,
        rgba(232, 102, 236, 0.6) 70%,
        rgb(237, 212, 246) 100% 
    );
    margin: 10px;
    padding: 10px;
    flex-wrap: nowrap;
}

footer {
    width: 60%;
    background-color: #ead4f0;
    color: white;
    line-height: 2.4;
    justify-content: center;
    font-size: smaller;
    margin-bottom: 0px;
}

@media screen and (max-width:768px) {
    article, section, div {
    width: 100%;
    }
}

@media screen and (max-width:992px) {
    section, div {
    width: 50%;
    }

    article {
        width: 100%;
    }
}

/* #project {
        box-sizing: border-box;
        width: 30%;
        border: 2px solid rgb(227, 243, 255);
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 1;
        justify-content: space-between;
        padding: 15px 0px 5px 20px;
        margin: 5px;
        text-align: center;

} */

/* .overlay {
    position: relative;
    transform: rotate(90deg);
    margin-top: -25px;
    border-style: groove;
    width: 15%;
    color: violet;
    background-color: aquamarine;
} */